@charset "utf-8";

// app fonts
@font-face {
  font-family: "Noto Sans";
  src: url("~@/assets/fonts/NotoSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("~@/assets/fonts/NotoSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("~@/assets/fonts/NotoSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url("~@/assets/fonts/NotoSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

// Customize Bulma variables
$red: #c25827;
$green: #47a84a;
$turquoise: #08829b;
$grey-dark: #455b65;
$grey-darker: #253338;
$white-ter: #eef2f4;
$dark: $grey-dark;
$body-background-color: $white-ter;
$text: $grey-darker;
$link: $turquoise;
$family-sans-serif: 'Noto Sans', 'Avenir', Helvetica, Arial, sans-serif;
$section-padding: 2rem 1.5rem;
$modal-content-spacing-mobile: 1rem;
@import "../../../node_modules/bulma/bulma.sass";
@import '../../../node_modules/bulma-tooltip';

html, body {
  height: 100%;
}